<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jidi.ssm.mapper.UserMapper" >

    <select id="selectUserByName" parameterType="string"  resultType="com.jidi.ssm.pojo.User">
       SELECT * FROM user WHERE name=#{value}
    </select>


    <select id="selectUserLoginInfoByName" parameterType="string" resultType="com.jidi.ssm.pojo.User">
        <!-- SELECT * FROM USER WHERE id=#{value} -->
        SELECT password,isAdministrator,ID FROM user WHERE name=#{value}
    </select>

    <insert id="insertUser" parameterType="com.jidi.ssm.pojo.User">
        INSERT INTO user(name,password,email,isAdministrator) VALUES(#{name},#{password},#{email},FALSE )
    </insert>

    <update id="updateUser" parameterType="com.jidi.ssm.pojo.User">
        UPDATE user SET name=#{name}, password=#{password}, email=#{email}, name=#{name},WHERE ID=#{ID}
    </update>

    <select id="selectUsersByFileName" parameterType="string" resultMap="UserFileRseultMap">
        SELECT
        file.id,
        file.name file_name,
        file.size,
        file.type,
        file.userId,
        user.*
        FROM
        file,
        user
        WHERE file.userId=user.ID AND file.name=#{value};
    </select>

    <resultMap id="UserFileRseultMap" type="com.jidi.ssm.pojo.UserFileVo">
        <id column="id" property="id"/>
        <result column="userId" property="userId"/>
        <result column="file_name" property="name"/>
        <result column="type" property="type"/>
        <result column="size" property="size"/>

        <association property="user" javaType="com.jidi.ssm.pojo.User">
            <id column="ID" property="ID"/>
            <result column="password" property="password"/>
            <result column="name" property="name"/>
            <result column="isAdministrator" property="isAdministrator"/>
            <result column="email" property="email"/>
        </association>
    </resultMap>
</mapper>